{% include 'officer_header.html' %}

<div class="main-div">

    
    
    <center>
        <div class="heading">

            <form action="" method="post" enctype="multipart/form-data">
                <h2>Upload posts</h2>
                <table class="tablle" style="width: 600px;">
                    
                    <tr>
                        <th>Certificate</th>
                        <td><input type="file" name="img" class="form-control"></td>    
                    </tr>
                    
                    <tr>
                        <td align="center" colspan="2"><input type="submit"  name="add" value="Upload" class="btn btn-success"></td>
                    </tr>
                </table>
                
            </div>
    
    
</div>


{% include 'footer.html' %}